.img-cont{
    width: 600px;
    object-fit: cover;

}


.my-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    opacity: 0.5;
}

.active{
    opacity: 1;
}

.title-desc{
    bottom: 0px;
}